/***************************************** Hero section **********************************************************************************/

.explore__section {
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1731627045/comment_buybrw.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}

.explore__inner__con {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  padding: 0 6rem;
}

.explore__text {
  margin-top: 150px;
  font-size: 50px;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.explore__p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  max-width: 700px;
  width: 100%;
  line-height: 120%; /* 28.8px */
}

/***************************************** attraction section **********************************************************************************/

.attraction__section {
  padding: 6rem; /* Equivalent to 96px for better readability */
  display: flex;
  flex-direction: column;
}

.attraction h2 {
  color: var(--Shark-700, #4c4d58);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 2rem 0;
}

.attraction h1 {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  border-radius: 16px;
  margin-bottom: 8px;
}

.attraction__con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
  gap: 100px;
}

/* .attraction__info{
  width: 50%;

} */

.img__con2 {
  width: 100%;
}

.img__con2 img {
  width: 100%;
  height: 659px;
}

.img__con4 {
  width: 50%;
}

.img__con4 img {
  width: 100%;
  height: 480px;
}

/***************************************** Travel section **********************************************************************************/

.attraction__section {
  padding: 96px;
}

.attraction__info li {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  margin: 20px 0;
}

.attraction__heading {
  font-size: 40px;
  font-weight: 400;
  color: #181d27;
}

.img__con3 {
  width: 100%;
}

.img__con3 img {
  width: 100%;
  height: 480px;
}
/***************************************** Travel section **********************************************************************************/

.travel__section {
  padding: 96px;
}
.travel__con {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.travel__info li {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  margin: 30px 0;
}

.travel__heading {
  font-size: 40px;
  font-weight: 400;
  color: #181d27;
}

/***************************************** Destination section **********************************************************************************/

.other__destination__section {
  padding: 96px;
}
.other__destination__heading {
  font-size: 48px;
  font-weight: 400;
  color: var(--Shark-700, #4c4d58);
}

.other__destination__con {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.other__destination__img {
  display: flex;
  gap: 32px;
}

.image__conn-container {
  width: 100%;
}

.image__conn {
  height: 240px; /* Adjust as needed */
  width: 100%;
  background-size: cover;
  background-position: center; /* Ensures the image is centered */
  border-radius: 8px;
  color: white;
}

.inside__image__text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 35px;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%; /* Adjust as needed */
}

.inside__image__text h1 {
  padding: 8px 16px;
  border-radius: 8px;
  border: 0.769px solid rgba(255, 255, 255, 0.26);
  background: rgba(90, 104, 165, 0.13);
  backdrop-filter: blur(6.92307710647583px);
}

.image__text-container {
  margin: 20px 0;
}
.image__subtext {
  font-size: 20px;
  color: #535862;
  font-weight: 400;
  margin: 20px 0;
}

.image__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image__link {
  color: rgb(22, 23, 22);
  transition:
    color 0.3s ease,
    transform 0.3s ease; /* Add transition effects */
}

.image__link:hover {
  color: #0044cc; /* Change color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/***************************************** Media query **********************************************************************************/
/* @media (max-width: 2680px) {

  .explore__inner__con  {
   
    padding: 96px 400px ;
  
  }

  .destination__section {
    padding: 96px 400px;
  }

  .attraction__section {
    padding: 96px 400px;
  
  }

  .other__destination__section {
    padding: 96px 400px;
  }

  .travel__section {
    padding: 96px 400px;
  }

} */
@media (max-width: 1200px) {
  .header__section {
    padding-bottom: 400px;
  }

  .header__inner__con {
    gap: 2rem;
  }

  .header__text {
    margin-top: 85px;
    font-size: 50px;
    max-width: 600px;
    line-height: 120%; /* 57.6px */
  }

  .header__p {
    font-size: 18px;
    max-width: 480px;
  }

  /***************************************** Who we are section **********************************************************************************/

  .whoweare__section {
    padding: 30px;
    transform: translateY(-10rem);
    margin-bottom: 2px;
  }
  .whoweare__con {
    flex-direction: column;
  }

  .img__con {
    max-width: 800px;
    width: 100%;
  }
  .img__con img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .box {
    display: flex;
    gap: 18px;
    margin-top: 40px;
  }

  /***************************************** Comment section **********************************************************************************/

  .comment__section {
    padding: 30px;
    margin-bottom: 6rem;
  }

  .comment__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 480px;
    gap: 20px;
    padding: 0 90px;
  }

  .comment__heading {
    font-size: 32px;
  }
  .comment__con p {
    font-size: 16px;
  }

  .comment__con img {
    width: 10%;
    height: auto;
  }

  /***************************************** Service section **********************************************************************************/

  .our__service__section {
    padding: 30px;
    overflow: hidden;
    margin-bottom: 6rem;
  }
  .our__service__con {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .service__title {
    margin-bottom: 20px;
  }

  .our__service__heading {
    font-size: 32px;
    margin-right: 6px;
  }
  .image_set {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .image_set img {
    width: 300px;
  }

  /***************************************** Destination section **********************************************************************************/

  .destination__section {
    padding: 30px;
    margin-bottom: 6rem;
  }
  .destination__heading {
    font-size: 40px;
  }

  .image__con {
    max-width: 457px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  /***************************************** Hero section **********************************************************************************/

  .explore__section {
    padding: 100px 0;
    display: flex;
  }

  .explore__inner__con {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    color: #fff;
    padding: 0 1rem; /* Equivalent to 96px for better readability */
  }

  .explore__text {
    margin-top: 50px;
    font-size: 32px;
    max-width: 400px;
  }

  .explore__p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    max-width: 700px;
    width: 100%;
    line-height: 120%; /* 28.8px */
  }

  /***************************************** attraction section **********************************************************************************/

  .attraction__section {
    padding: 1rem; /* Equivalent to 96px for better readability */
  }

  .attraction h2 {
    font-size: 16px;
    margin: 2rem 0;
  }

  .attraction__info h2 {
    font-size: 20px;
  }
  .attraction h1 {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .attraction__info {
    width: 100%;
  }

  .attraction__con {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 100;
    margin: 60px 0;
  }

  .img__con2 {
    width: 100%;
  }

  .img__con2 img {
    width: 100%;
    height: 480px;
  }

  .img__con4 {
    width: 100%;
  }

  /***************************************** Travel section **********************************************************************************/

  .attraction__section {
    padding: 16px;
  }

  .attraction__info li {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0;
  }

  .attraction__heading {
    font-size: 32px;
  }

  .img__con3 {
    width: 100%;
  }

  .img__con3 img {
    width: 100%;
    height: 240px;
  }

  /***************************************** Travel section **********************************************************************************/

  .travel__section {
    padding: 16px;
  }
  .travel__con {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .travel__info li {
    font-size: 20px;
    margin: 30px 0;
  }

  .travel__heading {
    font-size: 32px;
  }

  /***************************************** Destination section **********************************************************************************/

  .other__destination__section {
    padding: 16px;
  }
  .other__destination__heading {
    font-size: 32px;
  }

  .other__destination__con {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .other__destination__img {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }

  .image__conn-container {
    width: 100%;
  }

  .image__conn {
    height: 240px; /* Adjust as needed */
    width: 100%;
    background-size: cover;
    background-position: center; /* Ensures the image is centered */
    border-radius: 8px;
    color: white;
  }

  .inside__image__text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 35px;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%; /* Adjust as needed */
  }

  .inside__image__text h1 {
    padding: 8px 16px;
    border-radius: 8px;
    border: 0.769px solid rgba(255, 255, 255, 0.26);
    background: rgba(90, 104, 165, 0.13);
    backdrop-filter: blur(6.92307710647583px);
  }

  .image__text-container {
    margin: 20px 0;
  }
  .image__subtext {
    font-size: 20px;
    color: #535862;
    font-weight: 400;
    margin: 20px 0;
  }
  .header__section {
    padding-bottom: 400px;
  }

  .header__inner__con {
    gap: 2rem;
  }

  .header__text {
    margin-top: 200px;
    font-size: 50px;
    max-width: 400px;
    line-height: 120%; /* 57.6px */
  }

  .header__p {
    font-size: 18px;
    max-width: 280px;
  }

  /***************************************** Button section **********************************************************************************/

  .button__con {
    padding-left: 32px;
    font-size: 16px;
  }

  .arrow-icon-font-awesome {
    font-size: 60px;
  }

  /***************************************** Who we are section **********************************************************************************/

  .whoweare__section {
    padding: 1rem;
    transform: translateY(-10rem);
    margin-bottom: 2px;
  }
  .whoweare {
    margin-top: 50px;
  }
  .whoweare h2 {
    font-size: 25px;
  }

  .whoweare p {
    width: 7rem;
    padding: 4px 12px;
    margin-bottom: 8px;
  }

  .whoweare__con {
    padding: 0 16px;
    align-items: center;
    flex-direction: column;
    gap: 64px;
  }

  .img__con {
    max-width: 800px;
    width: 100%;
  }
  .img__con img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .box {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    flex-wrap: nowrap;
    gap: 18px;
    flex: 0 0 0;
    margin-top: 40px;
  }

  .box_1 {
    display: flex;
    padding: 16px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--Shark-200, #d9d9de);
    height: 176px;
    width: 100%;
  }

  .box_1 h3 {
    font-size: 30px;
  }

  .box_1 h6 {
    font-size: 16px;
  }

  /***************************************** Comment section **********************************************************************************/

  .comment__section {
    padding: 16px;
    margin-bottom: 6rem;
  }

  .comment__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 480px;
    gap: 20px;
    padding: 0 20px;
  }

  .comment__heading {
    font-size: 32px;
  }
  .comment__con p {
    font-size: 16px;
  }

  .comment__con img {
    width: 10%;
    height: auto;
  }

  /***************************************** Service section **********************************************************************************/

  .our__service__section {
    padding: 16px;
    overflow: hidden;
    margin-bottom: 6rem;
  }
  .our__service__con {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .service__title {
    margin-bottom: 20px;
  }

  .our__service__heading {
    font-size: 32px;
    margin-right: 6px;
  }
  .image_set {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .image_set img {
    width: 300px;
  }

  /***************************************** Destination section **********************************************************************************/

  .destination__section {
    padding: 16px;
    margin-bottom: 6rem;
  }
  .destination__heading {
    font-size: 32px;
  }

  .image__con {
    max-width: 347px;
  }

  /***************************************** Testimonial section **********************************************************************************/

  .testimonial__section {
    padding: 16px;
    gap: 64px;
    margin-bottom: 6rem;
  }

  .testimonial__heading {
    font-size: 32px;
    width: 100%;
  }

  .testimonial__con {
    flex-direction: column;
    gap: 2rem;
  }

  .testimonial__con img {
    cursor: pointer;
    width: 30%;
  }
  .testimonial__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .testimonial__sub h2 {
    width: 306px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--Gray-900, #101828);
    margin-bottom: 40px;
  }

  .testimonial__cap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .testimonial__icon {
    gap: 10px;
  }

  .testimonial__swiper {
    width: 100%; /* Full width of the container */
    margin: 20px auto; /* Center the Swiper and add vertical space */
    max-width: 1200px; /* Optional: limit the max width for larger screens */
  }

  .testimonial__swiper {
    width: 100%;
    height: 56vh;
  }

  .team__section {
    padding: 16px;
    margin-bottom: 130px;
  }

  .team__heading {
    font-size: 32px;
  }

  .team__con {
    flex-direction: column;
    gap: 3rem;
  }

  .team__img {
    width: 100%;
  }
  .team__text h1 {
    font-size: 20px;
  }

  .team__image__con {
    height: 400px;
    width: 100%;
    max-width: 500px; /* Prevents exceeding a third of the container */
    margin: 10px; /* Adjust spacing as needed */
  }

  /***************************************** Footer section **********************************************************************************/

  .location__section {
    padding: 16px;
    text-align: center;
    align-items: center;
    gap: 64px;
  }

  .location__con {
    max-width: 1280px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .location__sub {
    margin-top: 80px;
    border-top: 3px solid var(--Dodger-Blue-800, #0870c5);
  }

  .location__con h1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--Gray-900, #101828);
    margin-bottom: 60px;
  }
  /* 
  .location__sub h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
  }

  .location__sub p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--Shark-500, #737584);
  } */
}
