.explore__header__section {
    background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1731620533/Travel_2_dxfpkq.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 250px;
  }