/***************************************** Hero section **********************************************************************************/

.header__section {
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1731431491/bg_lnag0j.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 250px;
  margin-top: 0;
}

.header__inner__con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  align-items: center;
  color: #fff;
}

.header__text {
  margin-top: 30px;
  font-size: 88px;
  max-width: 900px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.header__p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  max-width: 700px;
  width: 100%;
  line-height: 120%; /* 28.8px */
}

/***************************************** Button section **********************************************************************************/

.button {
  display: flex;
  justify-content: center;
}

.button__con {
  display: flex;
  align-items: center;
  padding-left: 32px;
  background: rgba(90, 104, 165, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.26);
  font-weight: 500;
  font-size: 20px;
  backdrop-filter: blur(6.92307710647583px);
  cursor: pointer;
  border-radius: 138.462px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;

}

.button__con:hover {
  transform: scale(1.05); /* Slightly increase size */
}

.button__con:hover svg {
  transform: translateX(5px); /* Slightly move the arrow to the right */
}


.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.arrow-icon-font-awesome {
  font-size: 80px; /* Adjust the size of the Font Awesome icon */
  color: rgb(0, 0, 0); /* Make the icon white */
  background-color: #ffffff;
  border-radius: 50%; /* Make it circular */
  padding: 2px; /* Add some padding to make it look like a button */
  margin-left: 10px; /* Space between the text and the icon */
  transform: rotate(-40deg); /* Rotate the icon by 45 degrees */
}

/***************************************** Who we are section **********************************************************************************/

.whoweare__section {
  background: var(--Dodger-Blue-50, #f5fdff);
  padding: 6rem; /* Equivalent to 96px for better readability */
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; /* Equivalent to 64px */
  position: relative;
  transform: translateY(-2rem); /* Equivalent to -30px */
}
.whoweare h2 {
  color: var(--Shark-700, #4c4d58);
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  letter-spacing: -0.4px;
}

.whoweare p {
  width: 7rem;
  display: flex;
  align-items: center;
  color: var(--Dodger-Blue-800, #0870c5);
  font-size: 14px;
  font-weight: 500;
  padding: 4px 12px;
  background: var(--Blue-50, #eff8ff);
  border: 1px solid var(--Blue-200, #b2ddff);
  border-radius: 16px;
  margin-bottom: 8px;
}

.whoweare__con {
  display: flex;
  padding: 0px 32px;
  align-items: center;
  gap: 64px;
}

.img__con {
  max-width: 800px;
  width: 100%;
}
.img__con img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes any potential inline space below the image */
  object-fit: cover; /* Adjusts how the image fits within the container */
}

.box {
  display: flex;
  min-width: 240px;
  gap: 28px;
  flex: 1 0 0;
  margin-top: 40px;
}
.box_1 {
  display: flex;
  padding: 16px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--Shark-200, #d9d9de);
  height: 176px;
  width: 100%;
}
.box_1 h3 {
  color: var(--Shark-800, #41414b);
  text-align: center;
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
}

.box_1 h6 {
  color: var(--Shark-700, #4c4d58);
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/***************************************** Comment section **********************************************************************************/

.comment__section {
  padding: 96px;
}

.comment__con {
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1731627045/comment_buybrw.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 680px;
  gap: 40px;
  color: #f5fdff;
  padding: 0 80px;
  border-radius: 20px;
}

.comment__heading {
  font-size: 72px;
  font-weight: 400;
}
.comment__con p {
  font-size: 32px;
  font-weight: 400;
  color: var(--Shark-50, #f7f7f8);
}
.comment__con img {
  width: 10%;
  height: auto;
}

/***************************************** Service section **********************************************************************************/

.our__service__section {
  padding: 96px;
}
.our__service__con {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;

}

.service__title {
  display: flex;
  width: 100px;
  font-weight: 500;
  color: var(--Dodger-Blue-800, #0870c5);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 8px;
  border: 1px solid var(--Blue-200, #b2ddff);
  border-radius: 16px;
  background: var(--Blue-50, #eff8ff);
  margin-bottom: 40px;
}

.our__service__heading {
  font-size: 40px;
  margin-right: 400px;
  font-weight: 400;
  color: var(--Shark-700, #4c4d58);
}
.image_set {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 20px;
  animation: scrollText 10s infinite linear;
  white-space: nowrap;
  overflow-x: auto;
  transform: translateX(-50%); /* Center the content */
  overflow: hidden;
  width: 250%;



}

/* Define keyframes for the scrolling animation */
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}


.image_set img {
  width: 400px;
}

/***************************************** Destination section **********************************************************************************/

.destination__section {
  display: flex;
  padding: 96px;
  flex-direction: column;
}
.destination__heading {
  font-size: 48px;
  font-weight: 400;
  color: var(--Shark-700, #4c4d58);
}

.destination__con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

.destination__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}



.image__con {
  height: 480px; /* Adjust as needed */
  width: 100%;
  flex: 1 1 calc(50% - 10px); /* Each image takes 50% width minus the gap */
  max-width: calc(50% - 20px); /* Prevents exceeding half the container width */
  background-size: cover;
  background-position: center; /* Ensures the image is centered */
  margin: 10px; /* Adjust spacing as needed */
  border-radius: 8px;
  color: white;

}

/* 
.set3-style {
} */

.inside__image__text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 35px;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%; /* Adjust as needed */
}

.inside__image__text h1 {
  padding: 8px 16px;
  border-radius: 8px;
  border: 0.769px solid rgba(255, 255, 255, 0.26);
  background: rgba(90, 104, 165, 0.13);
  backdrop-filter: blur(6.92307710647583px);
}

.inside__image__text p {
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-weight: 500;
  border-radius: 138.462px;
  border: 0.769px solid rgba(255, 255, 255, 0.26);
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6.92307710647583px);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}


.inside__image__text p:hover {
  transform: scale(1.05); /* Slightly increase size */
}

.inside__image__text p:hover svg {
  transform: translateX(5px); /* Slightly move the arrow to the right */
}

.arrow-icon-font-awesome2 {
  font-size: 40px; /* Adjust the size of the Font Awesome icon */
  color: rgb(0, 0, 0); /* Make the icon white */
  background: #eff8ff;
  border-radius: 50%; /* Make it circular */
  padding: 2px; /* Add some padding to make it look like a button */
  margin-left: 10px; /* Space between the text and the icon */
  transform: rotate(-40deg); /* Rotate the icon by 45 degrees */
}

/***************************************** Testimonial section **********************************************************************************/

.testimonial__section {
  display: flex;
  padding: 96px;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
}

.testimonial__heading {
  color: var(--Gray-900, #101828);
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 439px;
}
.testimonial__con {
  display: flex;
  align-items: center; /* Aligns items vertically at the center */
  justify-content: space-between;
  width: 100%;
}

.testimonial__con img {
  cursor: pointer;
}

.testimonial__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimonial__sub h2 {
  width: 806px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: var(--Gray-900, #101828);
  margin-bottom: 40px;
}

.testimonial__cap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.testimonial__icon {
  gap: 10px;
}

/***************************************** Footer section **********************************************************************************/

.location__section {
  display: flex;
  padding: 96px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 64px;
}

.location__con {
  max-width: 1280px;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.location__sub {
  margin-top: 80px;
  border-top: 3px solid var(--Dodger-Blue-800, #0870c5);
}

.location__con h1 {
  font-size: 40px;
  font-weight: 400;
  color: var(--Gray-900, #101828);
  margin-bottom: 60px;
}

.location__sub h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.location__sub p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: var(--Shark-500, #737584);
}

/***************************************** Media query **********************************************************************************/

@media (max-width: 868px) {
  .header__section {
    padding-bottom: 200px;
  }

  .header__inner__con {
    gap: 2rem;
  }

  .header__text {
    margin-top: 85px;
    font-size: 50px;
    max-width: 400px;
    line-height: 120%; /* 57.6px */
  }

  .header__p {
    font-size: 18px;
    max-width: 280px;
  }

  /***************************************** Button section **********************************************************************************/

  .button__con {
    padding-left: 32px;
    font-size: 16px;
  }

  .arrow-icon-font-awesome {
    font-size: 60px; /* Adjust the size of the Font Awesome icon */
  }

  /***************************************** Who we are section **********************************************************************************/

  .whoweare__section {
    padding: 1rem; /* Equivalent to 96px for better readability */
    gap: 2rem; /* Equivalent to 64px */
    transform: translateY(-2rem); /* Equivalent to -30px */
    margin-bottom: 6rem;

  }
  .whoweare h2 {
    font-size: 32px;
  }

  .whoweare p {
    width: 7rem;
    padding: 4px 12px;
    margin-bottom: 8px;
  }

  .whoweare__con {
    padding: 0 16px;
    align-items: center;
    flex-direction: column;
    gap: 64px;
  }

  .img__con {
    max-width: 800px;
    width: 100%;
  }
  .img__con img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes any potential inline space below the image */
    object-fit: cover; /* Adjusts how the image fits within the container */
  }

  .box {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    flex-wrap: nowrap;
    gap: 18px;
    flex: 0 0 0;
    margin-top: 40px;
  }

  .box_1 {
    display: flex;
    padding: 16px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--Shark-200, #d9d9de);
    height: 176px;
    width: 100%;
  }

  .box_1 h3 {
    font-size: 30px;

  }

  .box_1 h6 {
    font-size: 16px;
  }



  /***************************************** Comment section **********************************************************************************/

  .comment__section {
    padding: 16px;
    margin-bottom: 6rem;

  }

  .comment__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 480px;
    gap: 20px;
    padding: 0 20px;
  }

  .comment__heading {
    font-size: 32px;
  }
  .comment__con p {
    font-size: 16px;
  }

  .comment__con img {
    width: 10%;
    height: auto;
  }

  /***************************************** Service section **********************************************************************************/

  .our__service__section {
    padding: 16px;
    overflow: hidden;
    margin-bottom: 6rem;
  }
  .our__service__con {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .service__title {
    margin-bottom: 20px;
  }

  .our__service__heading {
    font-size: 32px;
    margin-right: 6px;
  }
  .image_set {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .image_set img {
    width: 300px;
  }

  /***************************************** Destination section **********************************************************************************/

  .destination__section {
    padding: 16px;
    margin-bottom: 6rem;

  }
  .destination__heading {
    font-size: 32px;
  }

  /* .destination__con {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 44px;
  } */
  /* 
  .destination__img {
    display: flex;
    flex-wrap: wrap;
  } */

  .image__con {
    max-width: 347px; 
  }

  .inside__image__text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 35px;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%; /* Adjust as needed */
  }

  .inside__image__text h1 {
    padding: 8px 16px;
    border-radius: 8px;
    border: 0.769px solid rgba(255, 255, 255, 0.26);
    background: rgba(90, 104, 165, 0.13);
    backdrop-filter: blur(6.92307710647583px);
  }

  .inside__image__text p {
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-weight: 500;
    border-radius: 138.462px;
    border: 0.769px solid rgba(255, 255, 255, 0.26);
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(6.92307710647583px);
    cursor: pointer;
  }
  .arrow-icon-font-awesome2 {
    font-size: 40px; /* Adjust the size of the Font Awesome icon */
    color: rgb(0, 0, 0); /* Make the icon white */
    background: #eff8ff;
    border-radius: 50%; /* Make it circular */
    padding: 2px; /* Add some padding to make it look like a button */
    margin-left: 10px; /* Space between the text and the icon */
    transform: rotate(-40deg); /* Rotate the icon by 45 degrees */
  }

  /***************************************** Testimonial section **********************************************************************************/

  .testimonial__section {
    padding: 16px;
    gap: 64px;
    margin-bottom: 6rem;

  }

  .testimonial__heading {
    font-size: 32px;
    width: 300px;
  }

  .testimonial__con {
    display: flex;
    align-items: center; /* Aligns items vertically at the center */
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .testimonial__con img {
    cursor: pointer;
    width: 30%;
  }
  .testimonial__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .testimonial__sub h2 {
    width: 306px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--Gray-900, #101828);
    margin-bottom: 40px;
  }

  .testimonial__cap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .testimonial__icon {
    gap: 10px;
  }

  /***************************************** Footer section **********************************************************************************/

  .location__section {
    padding: 16px;
    text-align: center;
    align-items: center;
    gap: 64px;
    
  }

  .location__con {
    max-width: 1280px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .location__sub {
    margin-top: 80px;
    border-top: 3px solid var(--Dodger-Blue-800, #0870c5);
  }

  .location__con h1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--Gray-900, #101828);
    margin-bottom: 60px;
  }
  /* 
  .location__sub h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
  }

  .location__sub p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--Shark-500, #737584);
  } */
}
