/***************************************** Hero section **********************************************************************************/

.header__section {
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1731431491/bg_lnag0j.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 150px;
  margin-top: 0;
}

.header__inner__con {
  text-align: center;
  color: #fff;
}

.header__text {
  margin-top: 70px;
  padding: 0 16rem;
  font-size: 88px;
  font-style: normal;
  font-weight: 600;
}

.header__p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 0 26rem 2rem;
}

/***************************************** Button section **********************************************************************************/

.button {
  display: flex;
  justify-content: center;
}


.button__con {
  display: flex;
  align-items: center;
  padding-left: 32px;
  background: rgba(90, 104, 165, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.26);
  font-weight: 500;
  font-size: 20px;
  backdrop-filter: blur(6.92307710647583px);
  cursor: pointer;
  border-radius: 138.462px;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.arrow-icon-font-awesome {
  font-size: 80px; /* Adjust the size of the Font Awesome icon */
  color: rgb(0, 0, 0); /* Make the icon white */
  background-color: #ffffff;
  border-radius: 50%; /* Make it circular */
  padding: 2px; /* Add some padding to make it look like a button */
  margin-left: 10px; /* Space between the text and the icon */
  transform: rotate(-40deg); /* Rotate the icon by 45 degrees */

}


/***************************************** Who we are section **********************************************************************************/

.whoweare__section {
  background: var(--Dodger-Blue-50, #f5fdff);
  padding: 6rem; /* Equivalent to 96px for better readability */
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; /* Equivalent to 64px */
  position: relative;
  transform: translateY(-2rem); /* Equivalent to -30px */
}
.whoweare h2 {
  color: var(--Shark-700, #4c4d58);
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  letter-spacing: -0.4px;
}

.whoweare p {
  width: 7rem;
  display: flex;
  align-items: center;
  color: var(--Dodger-Blue-800, #0870c5);
  font-size: 14px;
  font-weight: 500;
  padding: 4px 12px;
  background: var(--Blue-50, #eff8ff);
  border: 1px solid var(--Blue-200, #b2ddff);
  border-radius: 16px;
  margin-bottom: 8px;
}

.whoweare__con {
  display: flex;
  padding: 0px 32px;
  align-items: center;
  gap: 64px;
}

.img__con {
  max-width: 800px;
  width: 100%;
}
.img__con img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes any potential inline space below the image */
  object-fit: cover; /* Adjusts how the image fits within the container */
}

.box {
  display: flex;
  min-width: 240px;
  gap: 28px;
  flex: 1 0 0;
  margin-top: 40px;
}
.box_1 {
  display: flex;
  padding: 16px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--Shark-200, #d9d9de);
  height: 176px;
  width: 100%;
}
.box_1 h3 {
  color: var(--Shark-800, #41414b);
  text-align: center;
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
}

.box_1 h6 {
  color: var(--Shark-700, #4c4d58);
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/***************************************** Comment section **********************************************************************************/

.comment__section {
  padding: 96px;
}

.comment__con {
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1731627045/comment_buybrw.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1280px;
  height: 680px;
  gap: 40px;
  color: #f5fdff;
  padding: 0 80px;
}

.comment__heading {
  font-size: 72px;
  font-weight: 400;
}
.comment__con p {
  font-size: 32px;
  font-weight: 400;
  color: var(--Shark-50, #f7f7f8);
}
.comment__con img {
  width: 10%;
  height: auto;
}

/***************************************** Service section **********************************************************************************/

.our__service__section {
  padding: 96px ;
  overflow: hidden;

}
.our__service__con {
  display: flex;
  flex-direction: column;
  gap: 40px;
}



.service__title {
  display: flex;
  width: 100px;
  font-weight: 500;
  color: var(--Dodger-Blue-800, #0870c5);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 8px;
  border: 1px solid var(--Blue-200, #b2ddff);
  border-radius: 16px;
  background: var(--Blue-50, #eff8ff);
  margin-bottom: 40px;
}

.our__service__heading {
  font-size: 40px;
  margin-right: 400px;
  font-weight: 400;
  color: var(--Shark-700, #4c4d58);
}
.image_set {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 20px;

}
.image_set img {
  width: 400px;
  
}

/***************************************** Destination section **********************************************************************************/

.destination__section {
  display: flex;
  padding: 96px 0px;
  flex-direction: column;
  align-items: center;
}
.destination__heading {
  font-size: 48px;
  font-weight: 400;
  color: var(--Shark-700, #4c4d58);
}

.destination__con {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 90px;
  align-items: flex-start;
  gap: 64px;
}
.destination__img {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.image__con {
  height: 480px; /* Adjust as needed */
  width: 600px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  margin: 10px; /* Adjust spacing as needed */
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  position: relative;
}

.inside__image__text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 35px;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%; /* Adjust as needed */
}

.inside__image__text h1{
  padding: 8px 16px;
  border-radius: 8px;
  border: 0.769px solid rgba(255, 255, 255, 0.26);
  background: rgba(90, 104, 165, 0.13);
  backdrop-filter: blur(6.92307710647583px);
}

.inside__image__text p {
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-weight: 500;
  border-radius: 138.462px;
  border: 0.769px solid rgba(255, 255, 255, 0.26);
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6.92307710647583px);
  cursor: pointer;

}
.arrow-icon-font-awesome2{
  font-size: 40px; /* Adjust the size of the Font Awesome icon */
  color: rgb(0, 0, 0); /* Make the icon white */
  background: #eff8ff;
  border-radius: 50%; /* Make it circular */
  padding: 2px; /* Add some padding to make it look like a button */
  margin-left: 10px; /* Space between the text and the icon */
  transform: rotate(-40deg); /* Rotate the icon by 45 degrees */

}

/***************************************** Testimonial section **********************************************************************************/

.testimonial__section {
  display: flex;
  padding: 96px;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;

}

.testimonial__heading {
  color: var(--Gray-900, #101828);
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 439px;
  
}
.testimonial__con {
  display: flex;
  align-items: center; /* Aligns items vertically at the center */
  justify-content: space-between;
  width: 100%;
}
.testimonial__con img {
  cursor: pointer;
  
}
.testimonial__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimonial__sub h2 {
  width: 806px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: var(--Gray-900, #101828);
  margin-bottom: 40px;
}

.testimonial__cap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.testimonial__icon {
  gap: 10px;
}

/***************************************** Footer section **********************************************************************************/

.location__section {
  display: flex;
  padding: 96px 0px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 64px;
}

.location__con {
  max-width: 1280px;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.location__sub {
  margin-top: 80px;
  border-top: 3px solid var(--Dodger-Blue-800, #0870c5);
}

.location__con h1 {
  font-size: 40px;
  font-weight: 400;
  color: var(--Gray-900, #101828);
  margin-bottom: 60px;
}

.location__sub h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.location__sub p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: var(--Shark-500, #737584);
}
