.blog__section {
  padding: 10px 80px 100px;
}

.blog__con {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blog__image {
  width: 100%;
  border-radius: 0;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.blog__text {
  margin: auto;
  max-width: 900px;
}
.blog__text h2 {
  font-size: 35px;
  max-width: 550px;
}
.blog__text h3 {
  margin-bottom: 16px;
  font-size: 25px;

}
.blog__text p {
  font-size: 20px;
}

.blog__text ul {
  list-style: initial; /* Ensure markers are displayed */
}

.blog__text li {
  font-size: 20px;
  margin-bottom: 16px;
}



.blog__categories {
  padding: 1rem;
}

.blogimage{
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 1em 0; /* Optional: Add some space below the image */
}

.category__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;

}

.category__list li {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  color: rgb(119, 119, 119);
  transition:
    color 0.3s,
    text-decoration 0.3s;
}

.category__list li:hover {
  color: blue;
  /* border-bottom: 3px solid rgb(5, 5, 110); */
}

.Error__blog {
  padding: 300px 80px 400px;
  text-align: center;
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1731431491/bg_lnag0j.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.category__list li.active {
  color: blue;
  text-decoration: underline;
  border-bottom: 3px solid rgb(5, 5, 110);
}

.blog__image:hover {
  transform: scale(1.1);
}

.blog__container {
  flex: 0 0 calc(33.33% - 20px); /* 3 containers in a row */
  width: 100%;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.blog__content {
  padding: 1rem;
}

.blog__content h3,
p {
  margin: 1rem 0;
}

.blog__category {
  margin: 1rem 0;
}

.blog__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(88, 88, 88);
}

.blog__pag {
  display: flex;
  gap: 65px;
  justify-content: center;
  padding-bottom: 500px;
  align-items: center;
}

.blog__button {
  padding: 6px 16px;
  cursor: pointer;
}

.Blog_writeup_section {
  padding: 6rem 20rem;
}
.blog__post__section {
  padding: 6rem; /* Equivalent to 96px for better readability */
}
.blog-preview {
  display: flex;
  gap: 2rem;

}

.blog_title {
  color: var(--Gray-900, #101828);
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .category__list {
    gap: 1rem;
  }

  .blog__post__section {
    padding: 80px 16px; /* Equivalent to 96px for better readability */
  }

  .blog-preview {
    overflow-x: auto;
  }

  .blog__con {
    flex-direction: column;
  }

  .blog__container {
    flex: 0 0 100%; /* 1 blog per row for very small screens */
  }

  .blog__section {
    padding: 16px;
  }

  .blog__pag {
    padding-bottom: 100px;
  }

  .Blog_writeup_section {
    padding: 20px 16px;
  }

  .blog_title {
    font-size: 32px;
   
  }

  .blog__text h2 {
    font-size: 25px;
  }
  
}
